Sphinx

Pillow

-e git+https://github.com/sphinx-gallery/sphinx-gallery.git@48adc58ce95c22571e0b4e4e4bce5bf0dfe7ad10#egg=sphinx-gallery
# Using unreleased sphinx-gallery to avoid DOCUMENTATION_OPTIONS error
# (current released: 0.1.13)
# https://github.com/sphinx-gallery/sphinx-gallery/issues/351
# ... and also to avoid Sphinx 1.7.5 error from parse_sphinx_docopts:
# https://github.com/sphinx-gallery/sphinx-gallery/issues/382
